:root {
   /* --light-color: #F4F3F0;*/
    /*--light-color: #FAF8F0;*/
    --light-color: #F3F4F6;
    --light-text-color: #D1D5DB;
    --black-color: #1c1c1c;
    --purple-color: #4C1D95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #F8F3F6;
  position: relative;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  height: auto;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple-color);
}

.logo h3 {
   color: var(--light-color);
}

.navbar-links {
  margin-right: 20px;
}

.navbar-links a {
  padding: 0 1.5em;
  color: var(--light-text-color);
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a:hover {
  color: var(--light-color);
}

.navbar-active {
  color: var(--light-color) !important;
}

/* Hamburger Navbar */
.hamburger {
  height: 30px;
  width: 35px;
  margin: 10px 20px 10px 10px;
  display: none;
  z-index: 10;
}

.line1,
.line2,
.line3 {
  background-color: var(--light-color);
  margin: 5px 0;
  height: 5px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.line1-style {
  display: none;
  margin: none;
}

.line2-style {
  background-color: var(--light-color);
  transform: rotate(220deg);
  margin: 13px -7px 7px 1px;
}

.line3-style {
  background-color: var(--light-color);
  transform: rotate(140deg);
  margin: -12px -7px -6px -1px;
}

/* Hamburger - Active */
.scroll {
  overflow: hidden;
}

#hamburger-active {
  font-family: "Roboto", sans-serif;
  padding: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--purple-color);
  height: 100vh;
  width: 80vw;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 10;
}

#hamburger-links {
  height: 100vh;
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hamburger-links a {
  margin: 10px 0;
  padding: 16px 8px;
  color: var(--light-text-color);
  text-decoration: none;
  font-size: 1.5em;
  align-self: flex-start;
}

#hamburger-links a:hover {
  color: var(--light-color);
}

.icons {
  color: var(--light-text-color);
  margin-right: 20px;
}

.ham-link {
  width: 50vw;
  color:  var(--light-color) !important;
}

.active {
  transform: translateX(0%) !important;
}

.hamburger-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.75;
  z-index: 9;
  display: none;
}

.hamburger-hide {
  display: block;
}

/* Home Content */
.home-container {
  height: 60vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.home-text {
  height: 30vh;
  padding: 8px 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
  font-family: "Ikaros", sans-serif;
}

/* .small-text {
  text-align: center;
  font-size: 2em;
   color: var(--light-color);
  font-weight: 100;
} */

.smaller-text {
  letter-spacing: 1px;
  text-align: center;
  margin: 15px auto;
  font-size: 2em;
  color: var(--light-color);
  font-weight: 100;
}

.medium-text {
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
  font-size: 4em;
  color: #fff;
}

.smaller-text {
  letter-spacing: 1px;
  text-align: center;
  margin: 15px auto;
  font-size: 2em;
  color: var(--light-color);
  font-weight: 300;
}

.medium-text {
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
  font-size: 4em;
  color: #fff;
}

.overlay {
  height: 60vh;
  width: 100vw;
  background-image: url("../img/web-developer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
}

.background-color {
  height: 60vh;
  width: 100vw;
  position: absolute;
  background-image:
    linear-gradient(
     180deg,
     #5B21B6, #F3F4F6
  );
  opacity: 0.8;
}

/* About Page */
.about-container {
  height: auto;
  width: 100%;
  margin: 50px auto;
  background-color: var(--light-color);
  padding: 16px 32px;
}

.about-title {
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-text {
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
}

.bold {
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
}

.about-content {
  padding: 0 32px 32px 32px;
  margin: 0 auto 25px auto;
}

.about-text {
  font-size: 16px !important;
  line-height: 1.5;
  letter-spacing: 1px;
}

.about-img {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-img img {
  height: 40px;
  width: 40px;
  margin: 0 5px;
}

.about-front-end,
.about-back-end {
  padding: 32px;
}

/*projects container*/
.projects-container {
  height: auto;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-project {
  height: 80%;
  width: 90%;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*background-color: #FDE68A;*/
  background-image:
    linear-gradient(
     180deg,
     #FDE68A, #F3F4F6
  );
  /*border: 3px solid #000;*/
  border-radius: 10px;
}

.first-project-img {
  padding: 2rem;
  width: 100%;
  position: relative;
}

.first-project-img img {
  display: block;
  height: 75%;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.first-project-description {
  padding: 2rem;
  width: 100%;
}

.first-project-description h1 {
  font-size: 4em;
}

.first-project-description p {
  font-size: 1em;
  line-height: 2;
  letter-spacing: 1px;
}

.muted-uppercase {
  color: #727272;
  text-transform: uppercase;
}

.muted {
  color: #727272;
}

.project-num {
  position: absolute;
  bottom: 0;
  left: 0;
}

.project-num h1{
  color: #78350F;
  font-size: 3rem !important;
  opacity: 0.3;
}

/* yowndrift */
.yowndrift-project {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.yowndrift-project-img {
  padding: 2rem;
  width: 50%;
}

.yowndrift-project-img img {
  display: block;
  height: 75%;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.yowndrift-project-description {
  padding: 2rem;
  width: 50%;
}

.yowndrift-project-description h1 {
  font-size: 4em;
}

.yowndrift-project-description p {
  font-size: 1em;
  line-height: 2;
  letter-spacing: 1px;
}

/* Footer */
footer {
  width: 100vw;
  padding: 1em;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: var(--purple-color);
  color: var(--light-color);
}

.footer-content,
.social-media {
  padding: 1rem;
}

.footer-content p {
  font-size: 1em;
}

.social-media {
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  color: #D1D5DB;
  margin: 0 10px;
}

.social-media a:hover {
  color: var(--light-color);
}

.soc-med {
  font-size: 24px;
}

@media (max-width: 992px) {
  /* Navbar */
  .navbar-links a {
    padding: 0 16px;
    font-size: 1.3em;
  }
  /* Home page */
  .medium-text {
    font-size: 2.7em;
  }
  .small-text {
    font-size: 1.5em;
  }
  .smaller-text {
    font-size: 1.5em;
  }
  /* About page */
  .title-text {
    font-size: 2.5em;
  }
  /* Projects pages */
  .projects-container img {
    height: 100%;
    width: 100%;
  }

}
/* For Tablet Devices */
@media (max-width: 768px) {
  /* Navbar */
  .navbar-links a {
    font-size: 1.1em;
  }
  /* Home page */
  .home-text {
    padding: 16px;
  }
  .content-links {
    margin: auto;
    padding: 8px;
    height: 30vh;
    width: 40vw;
    flex-direction: row;
  }
  .content-links a {
    margin: auto;
  }

  /* Projects page */
  .first-project, 
  .yowndrift-project {
    height: auto;
    flex-direction: column;
  }

}

/* For Mobile Devices */
@media (max-width: 576px) {
  /* Hamburger Navbar*/
  .navbar-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* Home page */
  .medium-text {
    font-size: 2.5em;
  }
  .smaller-text {
    font-size: 1.5em;
  }
  .medium-text {
    font-size: 2.5em;
  }
  /* .small-text {
    font-size: 1em;
  } */
  .smaller-text {
    font-size: 1.5em;
  }
  /* About page */
  .about-container {
    padding: 0;
  }
  .about-content {
    padding: 16px 32px;
  }
  .title-text {
    font-size: 2em;
  }

  .about-front-end,
  .about-back-end {
    padding: 16px;
  }
  /* Projects page */
  .first-project, 
  .yowndrift-project {
    height: auto;
    flex-direction: column;
  }

  .first-project-img,
  .yowndrift-project-img {
    padding: 0;
    width: 90%;
  }

  .first-project-img,
  .yowndrift-project-img {
    padding: 0;
    width: 90%;
  }

  .first-project-description,
  .yowndrift-project-description {
    padding: 1rem 0;
    width: 90%;
  }

  .first-project-description h1,
  .yowndrift-project-description h1 {
    font-size: 2.5em;
  }

}

@media (max-width: 390px) {
  /* hamburger toggle */
  #hamburger-active {
    width: 70vw;
  }
}
