:root {
  --purple-color: #8458b3;
  --black-color: #494d5f;
  --light-color: #e5eae5;
  --ice-color: #a0d2eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: var(--light-color);
}

strong {
  color: var(--purple-color);
}

/* Navbar */
.navbar {
  height: 10vh;
  width: 100vw;
  padding: 2em 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links {
  margin-right: 20px;
}

.navbar-links a {
  padding: 0 1.5em;
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-links a:hover {
  color: var(--purple-color);
}

.navbar-active {
  color: var(--purple-color) !important;
}

/* Hamburger Navbar */
.hamburger {
  height: 30px;
  width: 35px;
  margin: 10px 20px 10px 10px;
  display: none;
  z-index: 10;
}

.line1,
.line2,
.line3 {
  background-color: var(--black-color);
  margin: 5px 0;
  height: 5px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.line1-style {
  display: none;
  margin: none;
}

.line2-style {
  background-color: #fff;
  transform: rotate(220deg);
  margin: 13px -7px 7px 1px;
}

.line3-style {
  background-color: #fff;
  transform: rotate(140deg);
  margin: -12px -7px -6px -1px;
}

/* Hamburger - Active */
.scroll {
  overflow: hidden;
}

#hamburger-active {
  padding: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--light-color);
  height: 100vh;
  width: 80vw;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 10;
}

#hamburger-links {
  height: 100vh;
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hamburger-links a {
  margin: 10px 0;
  padding: 16px;
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  align-self: flex-start;
}

#hamburger-links a:hover {
  color: var(--purple-color);
}

.icons {
  margin-right: 20px;
}
.ham-link {
  width: 50vw;
  color: var(--purple-color) !important;
}

.active {
  transform: translateX(0%) !important;
}

.hamburger-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.75;
  z-index: 9;
  display: none;
}

.hamburger-hide {
  display: block;
}

/* Home Content */
.home-container {
  height: 60vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.small-center {
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  font-size: 1em;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.center {
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  font-size: 3em;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.home-text {
  height: 30vh;
  padding: 8px 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
}

.home-links {
  height: 20vh;
  padding: 8px 32px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #fff;
}

.home-links a {
  margin: 0 10px;
}

.home-links img {
  height: 40px;
  width: 40px;
}

.overlay {
  height: 60vh;
  width: 100vw;
  background-image: url("../img/web-developer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
}

.background-color {
  height: 60vh;
  width: 100vw;
  position: absolute;
  background-color: #000;
  opacity: 0.8;
}

/* About Page */
.about-container {
  height: auto;
  width: 100vw;
  margin: auto;
  background-color: #ffffff;
  padding: 16px 32px;
}

.about-title {
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.border {
  height: 30px;
  margin-right: 10px;
  border-left: 5px var(--purple-color) solid;
}

.title-text {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-family: "Poppins", sans-serif;
}

.about-content {
  height: auto;
  width: auto;
  padding: 0 32px 32px 32px;
  margin: auto;
}

.about-content p {
  font-size: 1rem !important;
  line-height: 1.5;
  letter-spacing: 1px;
}

.about-img {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-img img {
  height: 40px;
  width: 40px;
  margin: 0 5px;
}

.about-front-end,
.about-back-end {
  padding: 32px;
}

/*projects container*/
.projects-container {
  height: 80vh;
  width: 100vw;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-container img {
  height: 50%;
  width: 50%;
}
/* Footer */
footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content p {
  font-size: 1em;
}

@media (max-width: 992px) {
  /* Navbar */
  .navbar-links a {
    padding: 0 16px;
    font-size: 1.5em;
  }
  /* Home page */
  .center {
    font-size: 2em;
  }
  /* About page */
  .title-text {
    font-size: 1.7em;
  }
  .about-content p {
    font-size: 1rem;
  }
  /* Projects pages */
  .projects-container {
    height: 80vh;
  }
}
/* For Tablet Devices */
@media (max-width: 768px) {
  /* Navbar */
  .navbar-links a {
    font-size: 1.1em;
  }
  /* Home page */
  .home-text,
  .home-links {
    padding: 16px;
  }
  .content-links {
    margin: auto;
    padding: 8px;
    height: 30vh;
    width: 40vw;
    flex-direction: row;
  }
  .content-links a {
    margin: auto;
  }
}

/* For Mobile Devices */
@media (max-width: 576px) {
  /* Hamburger Navbar*/
  .navbar-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* Home page */
  .home-links img {
    height: 40px;
    width: 40px;
  }
  /* About page */
  .about-container {
    padding: 16px;
  }
  .about-content {
    padding: 16px 32px;
  }
  .border {
    height: 25px;
  }
  .about-front-end,
  .about-back-end {
    padding: 16px;
  }

  .projects-container {
    height: 60vh;
  }
}

@media (max-width: 390px) {
  /* hamburger toggle */
  #hamburger-active {
    width: 70vw;
  }
}
